tests/assets/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="friendslist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="friend" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstname"/>
              <xs:element type="xs:string" name="middlename" minOccurs="0"/>
              <xs:element type="xs:string" name="lastname"/>
              <xs:element type="xs:string" name="birthday"/>
              <xs:element type="xs:string" name="nickname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>